body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-color: #393939;
}

header{
  width: 100%;
  background-color: #606060;
  padding: 25px;
  box-shadow: 0px 0px 30px #000000;
}

#name{
  background-color: #393939;
  color: rgb(176, 176, 0); 
  border: 1px solid #898989;
  box-shadow: 0px 0px 20px #848484;
  text-align: center;
}

#pulsante{
background-color: #393939;
color: rgb(176, 176, 0); 
border: 1px solid #898989;
box-shadow: 0px 0px 20px #848484;
padding: 0px 20px;
}

.my-container{
  margin: auto;
  width: 40%;
}

#grid{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  box-shadow: 0px 0px 20px #000000;
  margin-top: 80px;
}

#grid .cells{
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  color: black;
  font-size: 1.5rem;
  background-color: #606060;
  box-shadow: 0px 0px 20px #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


#grid .cells.clicca {
  background-color: rgb(176, 176, 0); 
}


.clicca{
  opacity: 50%;    
}
